@import "../index.scss";

.item-wrapper {
    background-color: $light-background;
}

.item-section-listing-page {
    display: flex;
    gap: 100px;
    max-width: 1024px;
	margin: 0 auto;
	padding: 0 1rem;
    .right {
        margin-top: 170px;
        h3 {
            font-size: 28.43px;
            color: $white;
            margin-bottom: 13px;
        }
        p {
            font-size: 21.33px;
            color: $muted;
        }
        .location {
            display: flex;
            margin-top: 24px;
            margin-bottom: 100px;
            img {
                margin-right: 10px;
            }
            p {
                font-size: 16px;
                color: $muted-text;
            }
        }
        .price {
            font-size: 28.43px;
            color: $white;
        }
    }
    .left {
        padding-top: 70px;
        padding-bottom: 53px;
        background-color: rgba(0, 0, 0, 0.23);
        width: 100%;
        max-width: 450px;
        .image-wrapper {
            width: 100%;
            height: 500px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .listing-data {
            margin-top: 33px;
            padding: 0 37px;
            color: $muted-text;
            .posted-at {
                margin-bottom: 26px;
            }
            .seller-info {
                div {
                    display: flex;
                    margin-bottom: 14px;
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}