@import "../../index";

section#page-hero {
	width: 100%;
	min-height: 490px;
	background: linear-gradient(180deg, #848fcb 31.7%, #8d81ad 100%);
	padding: 0 65px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-wrapper {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 60px;
}

.gradient-btn {
	box-shadow: 2.87179px 2.87179px 11.4872px rgba(0, 0, 0, 0.18);
}

.dark-orange-btn {
	filter: drop-shadow(2.87179px 2.87179px 11.4872px rgba(0, 0, 0, 0.18));
}

.hero-left {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.hero-text {
	h1 {
		font-weight: 700;
		font-size: 37.9px;
		color: $white;
		margin-bottom: 1rem;
	}
	p {
		font-weight: 500;
		font-size: 21.33px;
		color: $muted-text;
		max-width: 600px;
	}
}

.hero-buttons {
	display: flex;
	align-items: center;
	gap: 30px;
	.error {
		margin: 0;
		color:rgb(116, 0, 21);
		border-color: rgb(116, 0, 21);
	}
}
