@import "../../index";

.form-container {
	border-radius: 12px;
	display: flex;
	padding: 20px 40px;
	background-color: $light-background;
	align-items: center;
	width: 100%;
	form {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
		label {
			color: $muted-text;
		}
		.left {
			display: flex;
			flex-direction: column;
			gap: 15px;
			.gradient-btn {
				align-self: flex-start;
				margin: 1rem 0;
			}
			.form-section {
				display: flex;
				flex-direction: column;
				input {
					background-color: $lighter-background;
					height: 35px;
					width: 100%;
					border-radius: 4px;
					margin-top: 0.5rem;
					color: $muted-text;
					padding: 0 0.5rem;
				}
				textarea {
					margin-top: 0.5rem;
					background-color: $lighter-background;
					border-radius: 4px;
					color: $muted-text;
					padding: 0.5rem;
					width: 100%;
				}
			}
		}
	}
}

.image-previews {
	#upload-file {
		background-color: $dark-background;
		height: 90px;
		width: 90px;
		border-radius: 8px;
		overflow: hidden;
		position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
		span {
			pointer-events: none;
			position: absolute;
            color: $muted;
            font-size: 40px;
		}
		input {
			height: 100%;
			width: 100%;
			opacity: 0;
			cursor: pointer;
            &::file-selector-button {
                cursor: pointer;
            }
		}
	}
}

.image-upload-container {
    .upload-section {
        height: 382px;
        width: 100%;
        background-color: $dark-background;
        margin: 0.5rem 0;
        border-radius: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            color: $muted;
            font-size: 40px;
            padding: 0 10px;
        }
        p {
            color: $muted;
            padding: 10px;
            width: 80%;
            text-align: center;
        }
        input {
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            &::file-selector-button {
                cursor: pointer;
            }
        }
    }
}
