@import "../../index.scss";

.slick-dots {
    bottom: 15px;
}

.slick-dots li {
    margin: 0;
    button:before {
        color: $white;
    }
    
} 

.slick-dots li.slick-active button:before {
    color: $white;
    transform: scale(1.5);
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
    z-index: 1;
}