// variables
$dark-background: #0d0d21;
$light-background: #272734;
$background: #131429;
$white: #fafbf6;
$muted-text: #E0E5F8;
$washed-orange: #f87171;
$primary-color: #F44599;
$blue: #4F55EB;
$alt-text: #848FCB;

// shared styles
button.gradient-btn {
	background: linear-gradient(313.49deg, #f87171 14.19%, #f44599 85.13%);
	border-radius: 4px;
	color: $white;
	padding: 10px 24px 12px;
	font-weight: 500;
	font-size: 16.2px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    filter: saturate(2);
  }
}

button.dark-orange-btn {
  box-shadow: 0 0 0 4px $washed-orange;
  padding: 6px 20px 8px;
  border-radius: 2px;
  font-weight: 500;
	font-size: 16.2px;
  color: $washed-orange;
  background-color: $background;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $washed-orange;
    color: $background;
  }
}

button.orange-btn {
	color: $dark-background;
	background-color: $washed-orange;
	padding: 8px 20px 10px;
	border-radius: 4px;
	cursor: pointer;
}

.page-container {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}

.page-padding {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 1rem;
}

.dark-background {
	background-color: $background;
}

// shared animation

@keyframes loadingPulse {
    0% {
        background-color: rgba(255, 255, 255, 0.02);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.05);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.02);
    }
}

// css reset
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

*:where(
		:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
	) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
	-webkit-appearance: revert;
	appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
	-webkit-user-drag: element;
}
